{% extends 'layout.html' %}

{% block title %}Flask 3{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>Register</h1>
    <p>Use the following form to register for a student organization.</p>

    <form action="/register" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control mt-2" type="text" id="name" name="name" required>
        </div>
    
        <div class="form-group mt-2">
            <label for="org">Organization</label>

            <select class="form-select mt-2" type="text" id="org" name="org" required>
                <option value="Robotics Club">Robotics Club</option>
                <option value="White Hat Hackers">White Hat Hackers</option>
                <option value="Artificial Intelligence Club">Artificial Intelligence Club</option>
                <option value="Weekly Web Design">Weekly Web Design</option>
                <option value="Computer Ethics Club">Computer Ethics Club</option>
            </select>
        </div>
    
        <div><input class="btn btn-primary mt-4 form-control" type="submit" value="Submit"></div>
    </form>

</div>

{% endblock %}